In [28]:
!pip install ntscraper

Requirement already satisfied: ntscraper in c:\anaconda\lib\site-packages (0.3.9)
Requirement already satisfied: requests in c:\anaconda\lib\site-packages (from ntscraper) (2.31.0)
Requirement already satisfied: lxml in c:\anaconda\lib\site-packages (from ntscraper) (4.9.1)
Requirement already satisfied: beautifulsoup4 in c:\anaconda\lib\site-packages (from ntscraper) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\anaconda\lib\site-packages (from beautifulsoup4->ntscraper) (2.3.2.post1)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests->ntscraper) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests->ntscraper) (2023.5.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\anaconda\lib\site-packages (from requests->ntscraper) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\anaconda\lib\site-packages (from requests->ntscraper) (1.26.14)

In [29]:
import pandas as pd
from ntscraper import Nitter

In [30]:
scraper = Nitter(0)

Testing instances: 100%|██████████| 30/30 [01:18<00:00,  2.62s/it]

In [35]:
# tweets = scraper.get_tweets("india", mode = 'hashtag', number=10)
tweets = scraper.get_tweets("reliance industries", mode = 'term', since= '2024-01-10',until= '2024-01-11', number=500)

12-Jan-24 11:56:28 - Empty page on https://nitter.privacydev.net

In [32]:
tweets['tweets'][3]

IndexError: list index out of range

In [25]:
final_tweets = []
for x in tweets['tweets']:
    data = [x['link'], x['text'],x['date'],x['stats']['likes'],x['stats']['comments'], x['user']['username']]
    final_tweets.append(data)

In [26]:
dat = pd.DataFrame(final_tweets, columns =['twitter_link','text','date','likes','comments', 'username'])

In [27]:
dat

Empty DataFrame
Columns: [twitter_link, text, date, likes, comments, username]
Index: []

In [9]:
##Converting inputs in dataframe to tsv
dat.to_csv("tableDetails_20.csv", sep=';', index=False)